.Container {
  display: grid;
  height: 100%;
  overflow: hidden;
  grid-template:
    "header" 5rem
    "main" 1fr
    / 1fr;
  .Header {
    grid-area: header;
    background-color: var(--background-color);
    display: grid;
    grid-template:
      "logo menu search profile" 1fr
      / 10rem 8rem 1fr 5rem;
    padding: 2rem;
    gap: 1rem;
    .Logo {
      grid-area: logo;
      object-fit: cover;
      width: 100%;
      max-height: 100%;
    }
    .MenuButton {
      grid-area: menu;
      text-align: end;
    }
    .SearchBar {
      grid-area: search;
      :global(input) {
        width: 100%;
        height: 1.7rem;
        border-radius: 0.5rem;
      }
    }
    .Profile {
      grid-area: profile;
    }
  }

  .Main {
    grid-area: main;
    background-color: var(--background-color);
    max-height: 100%;
    min-height: 0;
    margin: 0;
    padding: 0;
  }
}
