.MoviePage {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  padding: 20px;
  max-width: 100%;

  display: grid;

  overflow-y: auto;
  overflow-x: hidden;

  grid-template:
    "poster title" 48px
    "poster ratings" 96px
    "poster description" 1fr
    / 1fr 2fr;
  gap: 16px;

  .PosterContainer {
    grid-area: poster;
    display: grid;
    min-width: 0;
    grid-template:
      "posterImg" 1fr
      "posterInfo" 32px
      / 1fr;

    img {
      grid-area: posterImg;
      width: 100%;
    }
    > div {
      grid-area: posterInfo;
    }
  }
  .TitleContainer {
    grid-area: title;
    margin: 0;
    text-align: left;
    font-weight: bold;
    font-size: 48px;
  }
  .RatingsContainer {
    grid-area: ratings;
    color: #aaaaaa;
    display: inline-flex;
    text-align: center;
    margin: 0;
    gap: 32px;
  }
  .DescriptionContainer {
    grid-area: description;
    text-align: justify;
    max-width: 100%;
    text-justify: inter-word;

    p {
      max-width: 100%;
      overflow-wrap: break-word;
    }
  }
}
