:global(body) {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(code) {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background-color: #141a30;
  --primary-color: #d61c4e;
  --secondary-color: #feb139;
  --accent-color: #fff80a;
  --white-color: #ffffff;
  --black-color: #000000;

  color: var(--white-color);
}

:global(html),
:global(body),
:global(#root) {
  height: 100%;
}
