.App {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
  .movRecs {
    margin: 20px 0 20px 0;

    .recommendations {
      margin: 35px 0;
      width: 100%;

      .rec-group-name {
        display: flex;
        text-align: left;
        padding: 0 10% 30px 10%;

        font-size: 2.5rem;
        .refreshButton {
          background-color: transparent;
          border: none;
          cursor: pointer;
          position: relative;
          top: 12px;

          svg {
            fill: #d61c4e;
          }
        }
      }

      .CardCarrouselWrapperRelative {
        position: relative;
        .scrollButton {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;

          top: calc(50% - 48px);
          cursor: pointer;
          width: 48px;
          height: 48px;
          background: var(--primary-color);
          border-radius: 50%;
          font-weight: bold;
          font-size: 22px;
          z-index: 1000;
        }
        .scrollLeft {
          left: 10px;
        }
        .scrollRight {
          right: 10px;
        }

        .CardCarrouselWrapper {
          overflow: hidden;
          padding: 0 20px;
        }
      }

      .CardCarrousel {
        padding: 35px 0 55px 0;
        scroll-behavior: smooth;
        overflow-x: scroll;
        overflow-y: visible;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: -20px;
        gap: 30px;
        width: 100%;
        min-height: 1px;
        a {
          min-width: min(15%, 210px);
          width: 15%;
          max-width: 210px;
        }
        .MovieCard {
          transform: scale(1);
          &:hover {
            transform: scale(1.2);
            z-index: 100;
          }

          .MovieCard__img {
            display: block;
            width: 100%;
            border-radius: 20px;
          }
          .MovieCard__overlay {
            position: absolute;
            top: 0;
            left: -5px;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0) 30%,
              rgb(0 0 0 / 90%)
            );
            color: #ffffff;
            font-family: "Quicksand", sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            opacity: 0;
            transition: opacity 0.25s;
            border-radius: 20px;
            transition: border-width 0.25s;
            border: 0rem solid #79dfff;

            &:hover {
              opacity: 1;
              border: 0.3rem solid #79dfff;
            }

            & > * {
              transform: translateY(20px);
              transition: transform 0.25s;
            }

            &:hover > * {
              transform: translateY(0);
            }
            .MovieCard__title {
              font-size: 130%;
              margin-bottom: 10%;
            }
          }
        }
      }
    }
  }
}

.MovieCard__overlay--blur {
  backdrop-filter: blur(5px);
}

.MovieCard__overlay--primary {
  background: #009578;
}

.MovieCard__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}
