.App {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
}

.App-logo {
  height: 3vmin;
  pointer-events: none;
}

.movRecs {
  margin: 20px 5% 20px 5%;
}

.refreshButton svg {
  fill: #d61c4e;
}

.refreshButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  top: 12px;
}

.rec-group-name {
  display: table-row-group;
  text-align: left;
  position: relative;
  font-size: 2.5rem;
}

.MovieCard {
  position: relative;
  transform: scale(1);
  transition: all 0.2s;
}

.MovieCard:hover {
  transform: scale(1.2);
  z-index: 100;
}

.MovieCard__img {
  display: block;
  width: 100%;
  border-radius: 20px;
}

.recommendations {
  display: table;
  margin: 35px 0;
  width: 100%;
}
.recommendations a {
  width: 15%;
  float: left;
  padding: 3% 5% 0% 0%;
}

.MovieCard__overlay {
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 30%,
    rgb(0 0 0 / 90%)
  );
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px;
  transition: border-width 0.25s;
  border: 0rem solid #79dfff;
}

.MovieCard__overlay--blur {
  backdrop-filter: blur(5px);
}

.MovieCard__overlay--primary {
  background: #009578;
}

.MovieCard__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.MovieCard__overlay:hover {
  opacity: 1;
  border: 0.3rem solid #79dfff;
}

.MovieCard__overlay:hover > * {
  transform: translateY(0);
}

.MovieCard__title {
  font-size: 130%;
  margin-bottom: 10%;
}

.MovieCard__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}
